{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">{{ title }}</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.nomeLivro.label }}
        {{ form.nomeLivro(class="form-control") }}
    </div>
    
    <div class="mb-3">
        {{ form.catLivro.label }}
        {{ form.catLivro(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.autorLivro.label }}
        {{ form.autorLivro(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.anoLivro.label }}
        {{ form.anoLivro(class="form-control") }}
    </div>
    <div>
        {{ form.submit(class="btn btn-success") }}
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
    </div>
</form>
{% endblock %}